.register-container {
    height: 120vh;
    color: black;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #555, #555, rgb(110, 110, 110), rgb(160, 160, 160), #ccc, #fff);
}

.register-form {
    width: 500px;
    height: auto;
    padding: 40px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    text-align: center;
    border-radius: 10px;
}

.register-form input[type = "text"],
.register-form input[type = "password"],
.register-form input[type = "email"]
 {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: left;
    border: 2px solid #ccc;
    padding: 14px 10px;
    width: 250px;
    outline: none;
    margin-left: 40%;
}

.register-form button {
    margin-top: 10px;
    border: 0px solid #000;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    background: rgb(110, 110, 110);
    cursor: pointer;
    text-decoration: none;
    font-style: unset;
    transition: background 0.2s;
}

.register-form button:hover {
    background: rgb(110, 110, 110);
    /* box-shadow: 5px 1px 5px rgb(189, 189, 189); */
    color: #fff;
}

.register-form button:active {
    background: #fff;
    /* box-shadow: 5px 1px 5px rgb(189, 189, 189); */
    border: 1px solid #ccc;
    color: #000;
}

.no-account {
    font-size: 15px;
    margin-top: 10px;
}

.image-back {
    float: left;
}

.register-back {
    font-size: 50px;
    color: rgb(110, 110, 110);
    text-decoration: none;
    float: left;
    position: absolute;
    top: 0;
    left: 5%;
}

.register-label {
    float: left;
}

.inform-pass {
    /* text-align: left; */
    color: red;
    font-size: 13px;
}